PRIVY_APP_ID=""
PRIVY_API_KEY=""
PRIVY_CLIENT_ID="client-"

NEXT_PUBLIC_PRIVY_APP_ID=""
NEXT_PUBLIC_PRIVY_CLIENT_ID="client-"

NEXT_PUBLIC_BACKEND_URL="http://localhost:5000"
NEXT_PUBLIC_BACKEND_WS_URL="wss://localhost:5000"

# ElevenLabs Configuration
NEXT_PUBLIC_ELEVENLABS_AGENT_ID="your_elevenlabs_agent_id"