NODE_ENV="development"
BACKEND_DATABASE_URL="postgresql://postgres:postgres@localhost:5433/data-backend"
FRONTEND_URL="http://localhost:3000"


FOCUS_TOKEN_ADDRESS=0x25530664bd96b858dcf9A6DA4c4C7fBC29e6eAbA
FOCUS_STAKING_ADDRESS=0xa21a662E1316beb02e85089DC18A34eea42eF767
QUEST_NFT_ADDRESS=0xE0aDDc371B1b3b02972e29777E6d386BAd9db71F
FOCUS_SBT_ADDRESS=0x2789dD1f5cA3C1AC2F5517d9da7b88A3F4854f17 



BASE_SEPOLIA_RPC_URL=""

PINECODE_API_KEY="pc"

OPENAI_API_KEY="sk-proj-1234567890"

OPENROUTER_API_KEY=""

PORT=5000


EXA_API_KEY=""


APIFY_API_KEY=

PINECONE_API_KEY=""

#JWT
JWT_SECRET=
ACCESS_TOKEN_EXPIRY="30m"
REFRESH_TOKEN_EXPIRY="7d"

IS_TELEGRAM_BOT_RUNNING="false"


# OPTIONAL

GOOGLE_API_KEY=

# Twitter

TWITTER_API_KEY=""
TWITTER_API_SECRET_KEY=""
TWITTER_CALLBACK_URL="http://localhost:8081/app/SocialPayment"

TWITTER_CLIENT_ID=""
TWITTER_CLIENT_SECRET=""

LANGSMITH=""


# Starknet
STARKNET_RPC_PROVIDER_URL=""
STARKNET_RPC_NETWORK="SN_SEPOLIA"  # SN_SEPOLIA, SN_MAIN
RPC_NODE_API_KEY=""
SN_NETWORK="SN_SEPOLIA"

IS_TELEGRAM_BOT_RUNNING="false"

