@import "tailwindcss";

@theme {
  --color-blue-1000: #2a8af6;
  --color-purple-1000: #a853ba;
  --color-red-1000: #e92a67;
  --color-gray-1000: #1a1a1a;
  --bg-blue-500: #2a8af6;
  --bg-purple-500: #a853ba;
  --bg-red-500: #e92a67;
  --bg-gray-500: #1a1a1a; 
}
